{% extends "base.html" %}

{% block title %}{{ title }} - {{ super() }}{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    {% if posts %}
        {% for post in posts %}
            <article>
                <h2>{{ post.title }}</h2>
                <p><small>Posted on: {{ post.date }}</small></p>
                <p>{{ post.excerpt }}</p>
                <a href="#">Read more...</a> {# Placeholder link #}
            </article>
            <hr>
        {% endfor %}
    {% else %}
        <p>No blog posts yet. Check back soon!</p>
    {% endif %}
{% endblock %}